* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



html, body {
    margin: 0;
}



.inline {
  display: inline;
}

.left-panel {
  width: 300px;
}


body {
  font: 13px verdana;
  background-color: #d6d6d6;

}

td {
  font: 13px verdana;
}

svg {
  border: 1px solid #777;
  background-color: #fff;
  box-shadow: 0px 1px 5px #888;
}

ul {
  list-style-type: none;
}

.scrubber:hover {
  background-color: #B05E97;
}

#screenButton {
  color: #777;
  font-weight: bold;
  font-size: 15px;
  font-family: verdana;
  text-shadow: 0 1px 0 rgba(255,255,255,0.50);
  background-color: #ddd;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
  box-shadow: 0 2px 1px rgba(0,0,0,0.16), 0 0 1px rgba(0,0,0,0.50), inset 0 1px 0 rgba(255,255,255,0.55);
  border-radius: 20px;
  border: 0px;
}

.bold {
  font-weight: bold;
}

.stepContainer {
  height: 100px;
  padding: 10px;
}

.activeStepContainer {
  background-color: #6A90D2;
  height: 100px;
  padding: 10px;
}

.center {
  text-align: center;
}

.stepText {
  text-align: center;
  float: left;
  width: 180px;

}

.guide {
  fill-opacity: 0;
  stroke-opacity: 0.4;
}

.stepSVG {
  float:right;
  width: 100px;
}

.steps {
  overflow: scroll;
  height: 450px;
}

.right {
  text-align: right;
}
.left {
  text-align: left;
}


.activeSpecialText {
  background-color: #6A90D2;
}

.keypress {
  background-color: #FF7D02;
}

.container {
  display: flex; /* or inline-flex */
  margin: 10px;

}

.container-around {
  display: flex; /* or inline-flex */
  justify-content: space-around;
}


